POSTGRES_HOST=notification-service-db
POSTGRES_PORT=5432
POSTGRES_DB=notification_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=platform-kafka-kafka-bootstrap.kafka.svc:9092
KAFKA_CONSUMER_GROUP_ID=notification-service
KAFKA_AUTO_OFFSET_RESET=earliest
ROOT_PATH=/notifications
